<ul class="navbar">
  <li class="log-item">
    <%= link_to "Home", "#home", class: "nav-link" %>
  </li>
  <li class="log-item">
    <%= link_to "Details", "#details", class: "nav-link" %>
  </li>
  <li class="log-item">
    <%= link_to "RSVP", new_rsvp_path, class: "nav-link" %>
  </li>
  <li class="log-item">
    <%= link_to "Wedding Committee", "#wedding-committee", class: "nav-link" %>
  </li>
  <li class="log-item">
    <%= link_to "Information", "#schedule", class: "nav-link" %>
  </li>
  <li class="log-item">
    <%= link_to "Photo Album", album_path(@photo_album), class: "nav-link" %>
  </li>
</ul>
