<div class="rsvp-form">
  <h2 class="reply-text">Please fill out the form below</h2>
  <%= simple_form_for(@rsvp) do |f| %>
    <%= f.input :name, :label => "Write your name" %>
    <%= f.input :song, :label => "Name a song that we can add to our playlist!" %>
    <%= f.input :attendance, :label => "Can you make it to our wedding?", :collection => %w[Yes No] %>
    <%= f.input :diet, :label => "Any dietary requirements?" %>
    <%= f.submit "Complete the form", class: "rsvp_button btn-flat" %>
  <% end %>
</div>
