

<h2><%= @album.title %></h2>
<p><%= @album.description %></p>

<% @album.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
<% end %>

<%= link_to "Destroy this album", album_path(@album), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>


<div style="padding: 8px;text-align: center;font-size: 0.7em">
</div>
