<!DOCTYPE html>
<html>
  <head>
    <title>Zoeandcameronapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
        <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>

    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="http://fonts.cdnfonts.com/css/allegedly" rel="stylesheet">
    <style>
      @import url('http://fonts.cdnfonts.com/css/allegedly');
    </style>
    <link href="http://fonts.cdnfonts.com/css/balechin-royalo" rel="stylesheet">
    <style>
      @import url('http://fonts.cdnfonts.com/css/balechin-royalo');
    </style>
  </head>

  <body>
    <%= render "shared/navbar" unless current_page?(new_rsvp_path) || current_page?(rsvps_path) || current_page?(albums_path) || current_page?("/albums/1") || current_page?("/albums/1/edit")%>
    <%# || current_page?(albums_path) || current_page?(album_path) || current_page?(new_album_path) %>
    <%= render "shared/flashes" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
